@import 'variables.css';
@import 'reset.css';

@import 'screens/login.css';
@import 'screens/programs.css';

@import 'components/satus-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';
@import 'components/nav-bar.css';
@import 'components/badge.css';
@import 'components/no-mobile.css';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--black);
  color: white;
  height: 100vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
